 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 609px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1188px;
  margin: 2px -24px 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/LaraPablo-Copy2.jpg");
  background-position: 50% 50%;
  min-height: 607px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 607px;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 25px 0;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0 62px 0 25px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 29px auto 0 29px;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 21px 25px 0;
}

.u-section-1 .u-text-4 {
  margin: 12px 21px 0 29px;
}

.u-section-1 .u-icon-1 {
  color: rgb(46, 147, 122) !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 12px 21px 0 29px;
}

.u-section-1 .u-icon-2 {
  margin-top: 2px;
  color: rgb(46, 147, 122) !important;
}

.u-section-1 .u-text-6 {
  margin: 12px 0 0 25px;
}

.u-section-1 .u-icon-3 {
  margin-top: 2px;
  color: rgb(46, 147, 122) !important;
}

.u-section-1 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 155px;
  min-width: 68px;
  margin: 12px auto 0 184px;
}

.u-section-1 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
  height: 72px;
}

.u-section-1 .u-icon-5 {
  color: rgb(85, 172, 238) !important;
  height: 72px;
}

.u-section-1 .u-icon-6 {
  height: 75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 953px;
    margin-right: 87px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 480px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(197, 54, 164) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 770px;
    margin-right: 160px;
  }

  .u-section-1 .u-image-1 {
    min-height: 368px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 0;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 52px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 590px;
    margin-right: 250px;
  }

  .u-section-1 .u-image-1 {
    min-height: 552px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 3px 12px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 10px;
    margin-right: 24px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: 40px;
    margin-left: 36px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
    margin-right: 350px;
  }

  .u-section-1 .u-image-1 {
    min-height: 348px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 15px 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 32px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
    margin-right: 2px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 14px;
    margin-right: 2px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 17px;
    margin-left: 81px;
  }
}.u-block-48f6-5 {
  position: absolute;
  top: auto;
  left: calc(((100% - 1140px) / 2)  + 455px);
  right: auto;
  bottom: 28px;
}

.u-block-48f6-3 {
  position: absolute;
  left: 0;
}

.u-block-48f6-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-48f6-5 {
    left: calc(((100% - 940px) / 2)  + 355px);
  }
}

@media (max-width: 991px) {
  .u-block-48f6-5 {
    left: calc(((100% - 720px) / 2)  + 245px);
  }
}

@media (max-width: 767px) {
  .u-block-48f6-5 {
    left: calc(((100% - 540px) / 2)  + 155px);
  }
}

@media (max-width: 575px) {
  .u-block-48f6-5 {
    left: calc(((100% - 340px) / 2)  + 55px);
  }
}

.u-section-2-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2-1 .u-text-1 {
  font-weight: 700;
  margin: 52px -208px 0 341px;
}

.u-section-2-1 .u-image-1 {
  width: 570px;
  height: 329px;
  margin: 44px 47px 0 auto;
}

.u-section-2-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -287px 666px 0 58px;
}

.u-section-2-1 .u-text-3 {
  font-size: 1rem;
  margin: 86px 47px 0 58px;
}

.u-section-2-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 31px auto 33px;
  padding: 0;
}

.u-section-2-1 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-image-1 {
    margin-top: 252px;
    margin-right: 0;
  }

  .u-section-2-1 .u-text-2 {
    width: auto;
    margin-top: -298px;
    margin-right: 604px;
    margin-left: 18px;
  }

  .u-section-2-1 .u-text-3 {
    width: auto;
    margin-top: 64px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-2-1 .u-btn-1 {
    margin-top: 9px;
    margin-bottom: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -236px;
  }

  .u-section-2-1 .u-image-1 {
    width: 566px;
    height: 326px;
    margin-top: 296px;
    margin-right: auto;
    margin-left: 75px;
  }

  .u-section-2-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -426px;
    margin-right: 0;
    margin-left: -12px;
  }

  .u-section-2-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 352px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-2-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 214px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -189px;
  }

  .u-section-2-1 .u-image-1 {
    width: 540px;
    height: 311px;
    margin-top: 259px;
    margin-left: -16px;
  }

  .u-section-2-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -406px;
    margin-left: 0;
  }

  .u-section-2-1 .u-text-3 {
    margin-top: 350px;
    margin-left: 0;
  }

  .u-section-2-1 .u-btn-1 {
    margin: 22px 34px 34px 102px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -53px;
  }

  .u-section-2-1 .u-image-1 {
    width: 340px;
    height: 196px;
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-2-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 10px;
  }

  .u-section-2-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 15px;
  }

  .u-section-2-1 .u-btn-1 {
    margin: 15px auto 60px 26px;
  }
}

.u-section-2-2 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2-2 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  margin: 18px auto 0 337px;
}

.u-section-2-2 .u-image-1 {
  width: 570px;
  height: 336px;
  margin: 12px 94px 0 auto;
}

.u-section-2-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -282px 692px 0 59px;
}

.u-section-2-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 138px 28px 0;
}

.u-section-2-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 12px auto 60px;
  padding: 0;
}

.u-section-2-2 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-right: 246px;
    margin-left: 45px;
  }

  .u-section-2-2 .u-image-1 {
    width: 512px;
    height: 310px;
    margin-top: -39px;
    margin-right: 66px;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -214px;
    margin-right: 596px;
    margin-left: 43px;
  }

  .u-section-2-2 .u-text-3 {
    width: auto;
    font-size: 1rem;
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-2 .u-btn-1 {
    margin-top: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 160px;
  }

  .u-section-2-2 .u-image-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-left: 65px;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-2 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-top: 11px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 60px;
    margin-left: 99px;
  }

  .u-section-2-2 .u-image-1 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-2 .u-text-2 {
    margin-top: 255px;
  }

  .u-section-2-2 .u-text-3 {
    margin-top: -292px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 10px;
    margin-right: -67px;
    margin-left: 49px;
  }

  .u-section-2-2 .u-image-1 {
    height: 242px;
    width: 275px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-2 .u-text-2 {
    margin-top: 353px;
  }

  .u-section-2-2 .u-text-3 {
    font-size: 0.625rem;
    margin-top: -439px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-top: 25px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

.u-section-2-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2-3 .u-image-1 {
  width: 669px;
  height: 363px;
  margin: 82px auto 0 42px;
}

.u-section-2-3 .u-text-1 {
  font-size: 1.125rem;
  margin: -287px 0 0 752px;
}

.u-section-2-3 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  padding: 0;
}

.u-section-2-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 161px 0 60px 19px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2-3 .u-image-1 {
    width: 541px;
    height: 305px;
    margin-top: 90px;
    margin-left: 179px;
  }

  .u-section-2-3 .u-text-1 {
    width: auto;
    margin-top: -370px;
    margin-left: 41px;
  }

  .u-section-2-3 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-2-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 355px;
    margin-left: 0;
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2-3 .u-image-1 {
    margin-top: 118px;
    margin-left: 64px;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: -419px;
    margin-left: 22px;
  }

  .u-section-2-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 370px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2-3 .u-image-1 {
    height: 316px;
    margin-top: 102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: -406px;
    margin-left: 0;
  }

  .u-section-2-3 .u-text-2 {
    margin: 378px -20px 60px 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2-3 .u-image-1 {
    height: 191px;
    margin-top: 105px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 1rem;
    margin-top: -290px;
  }

  .u-section-2-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 204px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-2-4 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2-4 .u-text-1 {
  font-size: 4.5rem;
  margin: 44px auto 0 426px;
}

.u-section-2-4 .u-image-1 {
  width: 481px;
  height: 465px;
  margin: 33px auto 0 12px;
}

.u-section-2-4 .u-text-2 {
  font-size: 1.875rem;
  margin: -465px 0 0 514px;
}

.u-section-2-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 92px 17px 0 510px;
}

.u-section-2-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 80px 188px 60px auto;
  padding: 0;
}

.u-section-2-4 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 40px;
    margin-right: 128px;
    margin-left: auto;
  }

  .u-section-2-4 .u-image-1 {
    width: 434px;
    height: 418px;
    margin-top: 105px;
    margin-left: 36px;
  }

  .u-section-2-4 .u-text-2 {
    width: auto;
    margin-top: -502px;
    margin-left: 27px;
  }

  .u-section-2-4 .u-text-3 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 36px;
    margin-right: 22px;
    margin-left: 497px;
  }

  .u-section-2-4 .u-btn-1 {
    margin-top: 36px;
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2-4 .u-text-1 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 74px;
  }

  .u-section-2-4 .u-image-1 {
    width: 432px;
    height: 417px;
    margin-top: 122px;
    margin-left: -20px;
  }

  .u-section-2-4 .u-text-2 {
    margin-top: -500px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2-4 .u-text-3 {
    margin-top: 70px;
    margin-right: -16px;
    margin-left: 428px;
  }

  .u-section-2-4 .u-btn-1 {
    margin-top: 130px;
    margin-right: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 150px;
  }

  .u-section-2-4 .u-image-1 {
    width: 368px;
    height: 355px;
    margin-top: 83px;
    margin-left: auto;
  }

  .u-section-2-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -418px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 408px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-4 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-right: 118px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: -50px;
    margin-left: 82px;
  }

  .u-section-2-4 .u-image-1 {
    width: 280px;
    height: 270px;
    margin-top: 73px;
    margin-left: 18px;
  }

  .u-section-2-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -328px;
  }

  .u-section-2-4 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 299px;
  }

  .u-section-2-4 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 41px;
  }
}

.u-section-2-5 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2-5 .u-image-1 {
  width: 380px;
  height: 578px;
  margin: 43px auto 0 42px;
}

.u-section-2-5 .u-text-1 {
  font-size: 1.5rem;
  margin: -578px 60px 0 442px;
}

.u-section-2-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 31px 0 442px;
}

.u-section-2-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 33px 339px 60px auto;
  padding: 0;
}

.u-section-2-5 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2-5 .u-image-1 {
    width: 335px;
    height: 502px;
    margin-top: 13px;
    margin-left: 31px;
  }

  .u-section-2-5 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -483px;
    margin-right: 13px;
    margin-left: 378px;
  }

  .u-section-2-5 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 27px;
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-2-5 .u-btn-1 {
    margin-top: 27px;
    margin-right: 183px;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2-5 .u-image-1 {
    width: 338px;
    height: 496px;
    margin-top: 26px;
    margin-left: -13px;
  }

  .u-section-2-5 .u-text-1 {
    margin-top: -496px;
    margin-right: 0;
    margin-left: 338px;
  }

  .u-section-2-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 26px;
    margin-left: 338px;
  }

  .u-section-2-5 .u-btn-1 {
    margin-top: 26px;
    margin-right: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-2-5 .u-image-1 {
    width: 312px;
    height: 467px;
    margin-top: 91px;
    margin-left: -42px;
  }

  .u-section-2-5 .u-text-1 {
    margin-top: -543px;
    margin-right: -43px;
    margin-left: -33px;
  }

  .u-section-2-5 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 46px;
    margin-right: -31px;
    margin-left: 286px;
  }

  .u-section-2-5 .u-btn-1 {
    margin-top: 91px;
    margin-right: 126px;
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2-5 .u-image-1 {
    height: 250px;
    width: 170px;
    margin-top: 139px;
    margin-left: -18px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -357px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-5 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 35px;
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-2-5 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 19px;
    margin-right: auto;
    margin-bottom: 57px;
  }
}

.u-section-2-6 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2-6 .u-text-1 {
  font-size: 1.875rem;
  margin: 8px 0 0 10px;
}

.u-section-2-6 .u-image-1 {
  width: 839px;
  height: 368px;
  margin: 20px auto 0 139px;
}

.u-section-2-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 5px;
}

.u-section-2-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2-6 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2-6 .u-image-1 {
    width: 709px;
    height: 311px;
    margin-top: 12px;
    margin-left: 80px;
  }

  .u-section-2-6 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-6 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 12px;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2-6 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-2-6 .u-image-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2-6 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-2-6 .u-btn-1 {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-2-6 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-2-6 .u-image-1 {
    width: 540px;
    height: 237px;
    margin-top: 61px;
  }

  .u-section-2-6 .u-text-2 {
    margin-right: 45px;
  }

  .u-section-2-6 .u-btn-1 {
    margin-top: 24px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2-6 .u-image-1 {
    width: 340px;
    height: 149px;
    margin-top: 8px;
    margin-left: -22px;
  }

  .u-section-2-6 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-2-6 .u-btn-1 {
    margin-bottom: 52px;
  }
}.u-block-8612-5 {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 512px);
  bottom: 10px;
}

.u-block-8612-3 {
  position: absolute;
  left: 0;
}

.u-block-8612-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-8612-5 {
    right: calc(((100% - 940px) / 2)  + 412px);
  }
}

@media (max-width: 991px) {
  .u-block-8612-5 {
    right: calc(((100% - 720px) / 2)  + 302px);
  }
}

@media (max-width: 767px) {
  .u-block-8612-5 {
    right: calc(((100% - 540px) / 2)  + 212px);
  }
}

@media (max-width: 575px) {
  .u-block-8612-5 {
    right: calc(((100% - 340px) / 2)  + 112px);
  }
}

.u-section-3-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-3-1 .u-text-1 {
  font-size: 3rem;
  margin: 16px auto 0 346px;
}

.u-section-3-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 26px auto 0;
}

.u-section-3-1 .u-image-1 {
  width: 1031px;
  height: 451px;
  margin: 16px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 282px;
  }

  .u-section-3-1 .u-image-1 {
    width: 940px;
    height: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-3-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 16px;
  }

  .u-section-3-1 .u-image-1 {
    height: 315px;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-3-1 .u-image-1 {
    height: 263px;
    width: 517px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 19px;
  }

  .u-section-3-1 .u-text-2 {
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-1 .u-image-1 {
    height: 177px;
    margin-top: 13px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 599px;
}

.u-section-3-2 .u-text-1 {
  margin: 1px 67px 0 auto;
}

.u-section-3-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 39px 59px 0;
}

.u-section-3-2 .u-text-3 {
  font-size: 4.5rem;
  margin: 0 auto 0 430px;
}

.u-section-3-2 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: -33px 72px 0 46px;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-top: -28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-text-3 {
    margin-top: 67px;
    margin-left: 355px;
  }

  .u-section-3-2 .u-text-4 {
    width: auto;
    margin-top: -107px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-btn-2 {
    margin-top: 57px;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-3-2 .u-text-2 {
    margin-top: -40px;
  }

  .u-section-3-2 .u-text-3 {
    width: auto;
    font-size: 3rem;
    margin-top: -36px;
    margin-left: 272px;
  }

  .u-section-3-2 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 29px;
  }

  .u-section-3-2 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 19px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -14px;
  }

  .u-section-3-2 .u-text-3 {
    margin-top: -97px;
    margin-left: 204px;
  }

  .u-section-3-2 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 68px;
  }

  .u-section-3-2 .u-btn-2 {
    margin-top: 37px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -20px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 30px;
  }

  .u-section-3-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -80px;
    margin-left: 128px;
  }

  .u-section-3-2 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 67px;
  }

  .u-section-3-2 .u-btn-2 {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.u-section-3-3 .u-sheet-1 {
  min-height: 598px;
}

.u-section-3-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 17px 0 0;
}

.u-section-3-3 .u-image-1 {
  width: 570px;
  height: 340px;
  margin: 54px auto 0 17px;
}

.u-section-3-3 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: -318px 30px 0 611px;
}

.u-section-3-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 95px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3-3 .u-image-1 {
    width: 513px;
    height: 305px;
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-3 .u-btn-1 {
    margin-top: 23px;
    margin-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 14px;
  }

  .u-section-3-3 .u-image-1 {
    width: 434px;
    height: 254px;
    margin-top: 14px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 1rem;
    margin-top: -33px;
  }

  .u-section-3-3 .u-btn-1 {
    margin-right: 269px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3-3 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-3-3 .u-image-1 {
    width: 403px;
    height: 227px;
    margin-top: 22px;
    margin-left: 59px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -18px;
  }

  .u-section-3-3 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-3-3 .u-image-1 {
    height: 151px;
    width: 288px;
    margin-top: 30px;
    margin-left: 15px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 0;
  }

  .u-section-3-3 .u-btn-1 {
    align-self: center;
    margin-top: 6px;
    margin-bottom: 20px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1367px;
}

.u-section-4 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 26px calc(((100% - 1140px) / 2) + 221px) 0 calc(((100% - 1140px) / 2) + 179px);
}

.u-section-4 .u-gallery-1 {
  height: 1166px;
  grid-gap: 17px 17px;
  margin: 0 0 34px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(78,93,171,1), rgba(78,93,171,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1102px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 121px);
    margin-left: calc(((100% - 940px) / 2) + 79px);
  }

  .u-section-4 .u-gallery-1 {
    height: 961px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1927px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -8px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    height: 1840px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 5063px;
  }

  .u-section-4 .u-text-1 {
    width: 331px;
    margin-top: 18px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: -18px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    height: 4968px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 3188px;
  }

  .u-section-4 .u-text-1 {
    width: 245px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    height: 3140px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-30d8-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-30d8-3 {
  position: absolute;
  left: 0;
}

.u-block-30d8-4 {
  position: absolute;
  right: 0;
}

 .u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 40px auto 0;
}

.u-section-5-1 .u-image-1 {
  width: 805px;
  height: 312px;
  margin: 25px auto 0 154px;
}

.u-section-5-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: -30px 0 25px auto;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5-1 .u-image-1 {
    margin-left: 49px;
  }

  .u-section-5-1 .u-btn-1 {
    margin-right: 135px;
    margin-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5-1 .u-image-1 {
    width: 720px;
    height: 279px;
    margin-left: 0;
  }

  .u-section-5-1 .u-btn-1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5-1 .u-image-1 {
    width: 540px;
    height: 209px;
  }

  .u-section-5-1 .u-btn-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-5-1 .u-image-1 {
    width: 340px;
    height: 132px;
  }

  .u-section-5-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 14px;
    margin-right: -12px;
    margin-bottom: 8px;
  }
}

 .u-section-5-2 {
  background-image: none;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 501px;
}

.u-section-5-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 41px auto 0;
}

.u-section-5-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 60px 59px 0;
}

.u-section-5-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: -29px auto 45px 480px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5-2 .u-text-2 {
    width: auto;
    margin-top: 59px;
    margin-right: -12px;
    margin-left: 13px;
  }

  .u-section-5-2 .u-btn-1 {
    margin-top: -24px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5-2 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-2 .u-btn-1 {
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 17px;
  }

  .u-section-5-2 .u-btn-1 {
    margin-top: -65px;
    margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5-2 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 13px;
  }

  .u-section-5-2 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -42px;
    margin-bottom: 40px;
  }
}.u-block-479f-5 {
  position: absolute;
  width: auto;
  height: auto;
  left: calc(((100% - 1140px) / 2)  + 461px);
  top: auto;
  right: auto;
  bottom: 24px;
}

.u-block-479f-3 {
  position: absolute;
  left: 0;
}

.u-block-479f-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-479f-5 {
    left: calc(((100% - 940px) / 2)  + 361px);
  }
}

@media (max-width: 991px) {
  .u-block-479f-5 {
    left: calc(((100% - 720px) / 2)  + 251px);
  }
}

@media (max-width: 767px) {
  .u-block-479f-5 {
    left: calc(((100% - 540px) / 2)  + 161px);
  }
}

@media (max-width: 575px) {
  .u-block-479f-5 {
    left: calc(((100% - 340px) / 2)  + 61px);
  }
}

 .u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-6-1 .u-text-1 {
  font-size: 3rem;
  margin: 151px auto 0;
}

.u-section-6-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 97px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-6-1 .u-text-2 {
    width: auto;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-6-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-6-1 .u-text-2 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-1 .u-text-2 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-6-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 40px;
  }

  .u-section-6-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 28px;
  }
}

 .u-section-6-2 {
  background-image: none;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-6-2 .u-text-1 {
  font-size: 3rem;
  margin: 36px -24px 0 55px;
}

.u-section-6-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -23px 0 0 13px;
}

.u-section-6-2 .u-image-1 {
  width: 650px;
  height: 377px;
  margin: 20px auto 43px 225px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-6-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 26px;
    margin-right: -60px;
    margin-left: 60px;
  }

  .u-section-6-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -14px;
    margin-left: 0;
  }

  .u-section-6-2 .u-image-1 {
    width: 540px;
    height: 315px;
    margin-top: 26px;
    margin-bottom: 53px;
    margin-left: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-6-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 12px;
    margin-right: -25px;
    margin-left: 25px;
  }

  .u-section-6-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-6-2 .u-image-1 {
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -9px;
  }

  .u-section-6-2 .u-image-1 {
    width: 474px;
    height: 252px;
    margin-top: 23px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-6-2 .u-text-2 {
    font-size: 0.625rem;
    margin-top: -11px;
  }

  .u-section-6-2 .u-image-1 {
    height: 206px;
    width: 299px;
    margin-top: 10px;
    margin-bottom: 38px;
  }
}

 .u-section-6-3 {
  background-image: none;
}

.u-section-6-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-6-3 .u-text-1 {
  font-size: 3rem;
  margin: 45px 10px 0;
}

.u-section-6-3 .u-image-1 {
  width: 447px;
  height: 447px;
  margin: 27px auto 0 74px;
}

.u-section-6-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -413px 45px 0 594px;
}

.u-section-6-3 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 36px 45px 0 594px;
}

.u-section-6-3 .u-text-4 {
  font-size: 1rem;
  margin: -8px 36px 60px 603px;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-6-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 58px;
  }

  .u-section-6-3 .u-image-1 {
    width: 390px;
    height: 365px;
    margin-top: 34px;
    margin-left: 94px;
  }

  .u-section-6-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -353px;
    margin-right: 0;
    margin-left: 528px;
  }

  .u-section-6-3 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-right: 58px;
    margin-left: 522px;
  }

  .u-section-6-3 .u-text-4 {
    width: auto;
    margin-top: -47px;
    margin-right: -83px;
    margin-left: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-6-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 21px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-6-3 .u-image-1 {
    width: 375px;
    height: 373px;
    margin-top: 22px;
    margin-left: 14px;
  }

  .u-section-6-3 .u-text-2 {
    margin-right: -22px;
    margin-left: 411px;
  }

  .u-section-6-3 .u-text-3 {
    margin-top: 22px;
    margin-right: -22px;
    margin-left: 411px;
  }

  .u-section-6-3 .u-text-4 {
    margin-top: -34px;
    margin-right: -22px;
    margin-left: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-6-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-3 .u-image-1 {
    width: 282px;
    height: 291px;
    margin-left: -12px;
  }

  .u-section-6-3 .u-text-2 {
    margin-top: -284px;
    margin-left: 287px;
  }

  .u-section-6-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 29px;
    margin-right: -5px;
    margin-left: 292px;
  }

  .u-section-6-3 .u-text-4 {
    margin-top: -6px;
    margin-bottom: 39px;
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-6-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 25px;
  }

  .u-section-6-3 .u-image-1 {
    height: 205px;
    width: 218px;
    margin-left: 0;
  }

  .u-section-6-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -337px;
    margin-right: -68px;
    margin-left: -19px;
  }

  .u-section-6-3 .u-text-3 {
    font-size: 0.625rem;
    margin-top: -190px;
    margin-right: 0;
    margin-left: 231px;
  }

  .u-section-6-3 .u-text-4 {
    font-size: 0.625rem;
    margin: 27px -46px 46px 46px;
  }
}

.u-section-6-4 .u-sheet-1 {
  min-height: 583px;
}

.u-section-6-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px -110px 0 137px;
}

.u-section-6-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 31px 0 0 27px;
}

.u-section-6-4 .u-image-1 {
  width: 730px;
  height: 393px;
  margin: 19px auto 37px 172px;
}

@media (max-width: 1199px) {
  .u-section-6-4 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-6-4 .u-text-1 {
    width: auto;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-6-4 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 0;
  }

  .u-section-6-4 .u-image-1 {
    width: 616px;
    height: 332px;
    margin-top: 15px;
    margin-left: auto;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-6-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-6-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-right: -45px;
    margin-left: 45px;
  }

  .u-section-6-4 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-6-4 .u-image-1 {
    margin-top: 12px;
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-6-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-6-4 .u-text-1 {
    font-size: 1.25rem;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-6-4 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-6-4 .u-image-1 {
    height: 291px;
    margin-top: 11px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6-4 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-6-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 16px;
  }

  .u-section-6-4 .u-image-1 {
    height: 183px;
    margin-top: 16px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

 .u-section-6-5 {
  background-image: none;
}

.u-section-6-5 .u-sheet-1 {
  min-height: 583px;
}

.u-section-6-5 .u-text-1 {
  font-size: 3rem;
  margin: 43px 20px 0;
}

.u-section-6-5 .u-image-1 {
  width: 513px;
  height: 344px;
  margin: 57px 20px 0 auto;
}

.u-section-6-5 .u-image-2 {
  width: 533px;
  height: 434px;
  margin: -360px auto 0 37px;
}

.u-section-6-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -45px 136px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6-5 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-6-5 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 41px;
    margin-right: -29px;
    margin-left: 36px;
  }

  .u-section-6-5 .u-image-1 {
    width: 449px;
    height: 292px;
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-6-5 .u-image-2 {
    width: 470px;
    height: 374px;
    margin-top: -292px;
    margin-left: 0;
  }

  .u-section-6-5 .u-btn-1 {
    margin-top: -68px;
    margin-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-6-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 14px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-6-5 .u-image-1 {
    width: 391px;
    height: 252px;
    margin-top: 77px;
    margin-right: -31px;
  }

  .u-section-6-5 .u-image-2 {
    width: 389px;
    height: 321px;
    margin-top: -289px;
    margin-left: -29px;
  }

  .u-section-6-5 .u-btn-1 {
    margin-top: 14px;
    margin-right: 189px;
    margin-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-6-5 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-6-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 45px;
    margin-right: -22px;
    margin-left: 0;
  }

  .u-section-6-5 .u-image-1 {
    width: 272px;
    height: 192px;
    margin-top: 45px;
    margin-right: -33px;
  }

  .u-section-6-5 .u-image-2 {
    width: 310px;
    height: 247px;
    margin-top: -211px;
    margin-left: -27px;
  }

  .u-section-6-5 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 11px;
    margin-right: 137px;
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-6-5 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-6-5 .u-text-1 {
    margin-top: -223px;
    margin-right: 94px;
  }

  .u-section-6-5 .u-image-1 {
    height: 219px;
    width: 319px;
    margin-top: 161px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6-5 .u-image-2 {
    width: 255px;
    height: 203px;
    margin-top: -376px;
    margin-left: -50px;
  }

  .u-section-6-5 .u-btn-1 {
    margin: 21px auto 60px 46px;
  }
}

 .u-section-6-6 {
  background-image: none;
}

.u-section-6-6 .u-sheet-1 {
  min-height: 631px;
}

.u-section-6-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 25px auto 0 38px;
}

.u-section-6-6 .u-image-1 {
  width: 570px;
  height: 285px;
  margin: 71px auto 0 38px;
}

.u-section-6-6 .u-image-2 {
  width: 415px;
  height: 311px;
  margin: -298px 72px 0 auto;
}

.u-section-6-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 7px 537px 0 71px;
}

.u-section-6-6 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-6-6 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -16px 52px 0 auto;
  padding: 9px 4px 11px;
}

.u-section-6-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 38px 108px 60px 133px;
}

@media (max-width: 1199px) {
  .u-section-6-6 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-6-6 .u-image-1 {
    width: 456px;
    height: 213px;
    margin-top: 25px;
  }

  .u-section-6-6 .u-image-2 {
    width: 375px;
    height: 288px;
    margin-top: -250px;
    margin-right: 40px;
  }

  .u-section-6-6 .u-text-2 {
    width: auto;
    margin-top: -19px;
    margin-right: 374px;
    margin-left: 34px;
  }

  .u-section-6-6 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-6-6 .u-btn-2 {
    margin-top: 9px;
    margin-right: -20px;
  }

  .u-section-6-6 .u-text-3 {
    width: auto;
    margin: 19px -31px 42px 72px;
  }
}

@media (max-width: 991px) {
  .u-section-6-6 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-6-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-6 .u-image-1 {
    width: 345px;
    height: 188px;
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-6-6 .u-image-2 {
    width: 360px;
    height: 277px;
    margin-top: -188px;
    margin-right: 0;
  }

  .u-section-6-6 .u-text-2 {
    margin-top: -74px;
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-6-6 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-6-6 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 53px;
    margin-right: 0;
  }

  .u-section-6-6 .u-text-3 {
    font-size: 1.25rem;
    margin: 15px 0 38px;
  }
}

@media (max-width: 767px) {
  .u-section-6-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6-6 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 38px;
  }

  .u-section-6-6 .u-image-1 {
    width: 278px;
    height: 130px;
    margin-top: 37px;
  }

  .u-section-6-6 .u-image-2 {
    width: 232px;
    height: 185px;
    margin-top: -155px;
    margin-right: 8px;
  }

  .u-section-6-6 .u-text-2 {
    margin-top: -30px;
    margin-right: 8px;
  }

  .u-section-6-6 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-6-6 .u-btn-2 {
    margin-top: 26px;
    margin-right: -47px;
  }

  .u-section-6-6 .u-text-3 {
    font-size: 0.875rem;
    margin: 38px -26px 60px 26px;
  }
}

@media (max-width: 575px) {
  .u-section-6-6 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-6-6 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-6-6 .u-image-1 {
    height: 106px;
    width: 170px;
    margin-top: 25px;
  }

  .u-section-6-6 .u-image-2 {
    height: 120px;
    width: 159px;
    margin-top: -59px;
    margin-right: 11px;
  }

  .u-section-6-6 .u-text-2 {
    font-size: 0.625rem;
    margin-top: -45px;
    margin-right: 170px;
  }

  .u-section-6-6 .u-btn-1 {
    font-size: 0.625rem;
  }

  .u-section-6-6 .u-btn-2 {
    margin-top: 32px;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-6-6 .u-text-3 {
    font-size: 0.625rem;
    margin: 9px -38px 57px 0;
  }
}.u-block-fe1f-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 527px);
  top: auto;
  right: auto;
  bottom: 131px;
}

.u-block-fe1f-3 {
  position: absolute;
  left: 0;
}

.u-block-fe1f-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-fe1f-5 {
    left: calc(((100% - 940px) / 2)  + 427px);
  }
}

@media (max-width: 991px) {
  .u-block-fe1f-5 {
    left: calc(((100% - 720px) / 2)  + 317px);
  }
}

@media (max-width: 767px) {
  .u-block-fe1f-5 {
    left: calc(((100% - 540px) / 2)  + 227px);
  }
}

@media (max-width: 575px) {
  .u-block-fe1f-5 {
    left: calc(((100% - 340px) / 2)  + 127px);
  }
}

 .u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-7-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 49px -60px 0 340px;
}

.u-section-7-1 .u-image-1 {
  width: 248px;
  height: 171px;
  margin: 50px auto 0 11px;
}

.u-section-7-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -157px 0 0 279px;
}

.u-section-7-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 44px 486px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-7-1 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: -83px;
    margin-left: 263px;
  }

  .u-section-7-1 .u-image-1 {
    height: 170px;
    margin-top: 62px;
    margin-left: 15px;
  }

  .u-section-7-1 .u-text-2 {
    width: auto;
    margin-top: -186px;
    margin-right: 30px;
    margin-left: 292px;
  }

  .u-section-7-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 22px;
    margin-right: -159px;
    margin-left: 159px;
  }

  .u-section-7-1 .u-image-1 {
    width: 172px;
    height: 118px;
    margin-top: 35px;
    margin-left: 261px;
  }

  .u-section-7-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-1 .u-btn-1 {
    margin-top: 22px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-7-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 18px;
    margin-right: -75px;
    margin-left: 75px;
  }

  .u-section-7-1 .u-image-1 {
    width: 147px;
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-7-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -136px;
    margin-left: 176px;
  }

  .u-section-7-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 42px;
    margin-bottom: 33px;
    margin-left: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-7-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: -36px;
    margin-left: 36px;
  }

  .u-section-7-1 .u-image-1 {
    width: 90px;
    height: 71px;
    margin-top: 35px;
  }

  .u-section-7-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: -84px;
    margin-left: 98px;
  }

  .u-section-7-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: auto;
    margin-bottom: 39px;
  }
}

 .u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 501px;
}

.u-section-7-2 .u-image-1 {
  width: 884px;
  height: 443px;
  margin: 29px auto 29px 116px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-7-2 .u-image-1 {
    width: 798px;
    height: 383px;
    margin-top: 23px;
    margin-left: auto;
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-7-2 .u-image-1 {
    width: 720px;
    height: 346px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-7-2 .u-image-1 {
    width: 540px;
    height: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-7-2 .u-image-1 {
    width: 340px;
    height: 164px;
  }
}